*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#adminHeader
{
    width: 100%;
    padding: 20px;
    background-color: rgb(41, 78, 123);
    text-align: center;
    color: white;
}



#adminFooter
{
    width: 100%;
    padding: 20px;
    background-color: rgb(27, 32, 43);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
}



#adminForm
{
    display: flex;
    justify-content: center;
    margin: auto;
    border: 2px solid black;
    width: 50%;
    margin-top: 50px;
    padding: 100px;
    border-radius: 10px;
    text-align: center;
    background-color: whitesmoke;
    
}

#adminData
{
    
    padding-bottom: 50px;
}

#namedisplay
{
    padding: 10px;
    background-color: rgb(55, 43, 140);
    color: white;
    text-align: center;
}

#mainData
{
    display: flex;
    background-color: whitesmoke;
    width: 20%;
    height: 100vh;
    
}
#mainLeftMenu
{
    width: 20%;
    padding: 20px;
}
#mainRightData
{
    width: 80%;
    padding: 20px;
}

.cart{
    font-size: 20px;
    
    font-weight: 700;
}

#checkout{
    margin: "auto";
    width: 50%;
    /* height: 50%; */
    margin-left: 400px;
    margin-top: 50px;
   
}
.checkoutbtn{
    background-color: whitesmoke;
    border-radius: 10px;
    align-items: center;
    height: 500px;
}